.App{
    background-color: #ffffff;
   border-radius: 10px;
   border: 1px #c1ebe2;
   max-width: 70%;
   max-height: 50%;
   display: block;
   margin: 0 auto;
   margin-top: 30px;
   padding: 50px;
}